html, body {
    color: red;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Luckiest Guy';
    color: #EDF8EF;
    background-image: url('../assets/bg_inst.png');
    
}

.buttonHolder {
  display:inline-block;
  vertical-align: middle;
	width: 45%;
	height: 70px;
  text-align: center;
  background: #00B8AD;
  border-radius: 8px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
  box-sizing:border-box;
}

#startGameText {
	font-size: 2em;

  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  line-height: 70px;
}

.gamePaused {
  color: #4883BE;
  display: none;

}

#sign-out-text {
  font-size: 3em;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-lost-text {
  font-size: 3em;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#firebaseui-auth-container{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
#nextLevelButton {
  display: none;
}

.signed-in {
	display: none;
}
